<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat UI</title>

  <!-- css stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/styles.css">

  <!-- JS scripts -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
 </head>

 <!-- Main Body -->

<body ng-controller="MainController as main" ng-cloak>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-8 cen-jus">
           <img src="./assets/img/unityAdsLogo.png">
           <h3 class="sub-main-head">CHAT UI PAGE</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active">
        <a ui-sref="homePage" ng-if="!main.user.isLoggedIn()">Home</a>
      </li>
      <li role="presentation">
        <a ui-sref="listChats" ng-if="main.user.isLoggedIn()">Chats</a>
      </li>
      <li ole="presentation" ng-show="main.user.isLoggedIn()">
        <a class="btn" ng-click="main.logOut()">Logout {{ main.user.name }}</a>
      </li>
    </ul>

    <main class="content" ui-view>
     <!-- PAGE TEMPLATES INSERT HERE -->
   </main>

   </div>

   <!-- Footer -->

  <footer class="container cen-jus">
    <hr>
    <p><strong>REMEMBER: </strong>This assignment only consist of frontend work </p>
    <small>Created by Desiree Desario</small>
  </footer>

  <!-- Angular scripts -->
  <script src="./app.js"></script>
  <script src="./app.routes.js"></script>
  <script src="./services/user.dataservice.js"></script>
  <script src="./services/chat.dataservice.js"></script>
  <script src="./controllers/main.controller.js"></script>
  <script src="./controllers/chats.controller.js"></script>
  <script src="./controllers/chatDetails.controller.js"></script>
  <script src="./controllers/login.controller.js"></script>

</body>
</html>
