/* styles.css
   Desiree Desario
   2016
*/

/* unity font */

@font-face {
  font-family: 'avalonbold',sans-serif;
  src: url('../fonts/Avalon Bold T..ttf');
  src: url('../fonts/Avalon Bold T..ttf') format('truetype');
}

img {
  max-width: 100%;
  height: auto;
}

/* home.html */

#heading-text {
  font-family: 'avalonbold';
  font-size: 5.3rem;
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
}

.sub-main-head {
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
}

.jumbotron {
  background:linear-gradient(#28ab87, #2895ab);
}

body {
  color: rgb(32, 42, 55);
  background-image: url("../img/unityBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2vw;
}

.cen-jus {
  text-align: center;
}

.btn{
  white-space: normal;
  width: 80%;
}

footer {
  margin: 30px 0px 35px 0px;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(211, 211, 211, 1);
}

.thumb-head {
  text-shadow: 1px 1px 2px rgba(211, 211, 211, 1);
  text-transform: uppercase;
}

a {
  cursor: pointer;
  color: inherit;
}

li {
  list-style-type: none;
}

.submit-login-button {
  padding-top: 1%;
  margin-left: 10px;
  border: 1px solid rgb(32, 42, 55);
}

main {
  margin: 4% auto;
  border-radius: 15px;
  border: 1px solid rgba(32, 42, 55, 0.8);
  padding: 2% 3%;
}

/* chat lists */

.caption {
  text-decoration: underline;
  text-transform:capitalize;
}

.panel-info {
  border-radius: 25px;
  background-color: transparent;
  width: 100%;
}

.chatInfo {
  float:left;
}

ul {
  margin-right: 5%;
  text-align: center;
}

/* chat details */

.chatComment {
  margin: 3%;
  width: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 25px;
}
