<div>
  {{vm.title}}
  <br>
  {{vm.content}}
  <br>
  <form ng-submit="vm.addMsg()">
    <div>
      <input type="text" placeholder="send a reply" ng-model="vm.newMsg.content">
    </div>
    <div>
      Users Online:
      <br>
      {{user.name}}
    </div>
    <div>
      <input type="submit" value="send message" autocomplete='off' id='msg' placeholder='Type your message here'/>
    </div>
  </form>
  <div>
    <ul>
      <li ng-repeat="msg in vm.allMsgs">
        {{msg.content}}
      </li>
    </ul>
  </div>
  <div class='pre-scrollable'>
    <ul id='connected-users' style='display:inline-block;'></ul>
  </div>
  <div style="clear:both;"></div>
