<div class="cen-jus" ng-hide="vm.user.isLoggedIn()">
  <h3>Welcome to the Chat App</h3>
  <img src="./assets/img/chatLogo.png"><br>
  <h4>First, tell your buddies who you are!</h4>
  <p><strong>To better enjoy the Chat App, give yourself an awesome identity to give people a clue about who you are</strong></p>
  <form class="form-inline" ng-submit="vm.logIn()" style="padding:5% 0;">
    <div class="form-group">
      <label>Name: </label>
      <input type="text" id="inputName1" class="form-control" placeholder="My name is.." style="margin-bottom:5%;" ng-model="vm.userHold.name" required>
    </div>
      <button class="btn btn-primary submit-login-button" style="background-color: rgb(34, 44, 55);" type="submit">CHECK OUT YOUR CHATS</button>
  </form>

  <div class="cen-jus" ng-show="vm.user.isLoggedIn()">
    <h3>Whats Up {{vm.user.name}}!</h3>
  </div>
