<br>
<div class="cen-jus">
  <h2 class="thumb-head">
    <u>{{vm.user.name}}'s chats
    </u>
  </h2>
  <div>
    <h4>Search chat by name!</h4>
    <input type="text" ng-model="filterSearch" style="margin-bottom:3%;">
  </div>
</div>
<center>
<div class="row">
  <ul>
    <li ng-repeat="chat in vm.chat.all | orderBy:'chatName' | filter:filterSearch">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="cen-jus">
            <h4 class="thumb-head cen-jus">{{chat.chatName}}</h4>
          </div>
          <hr>
          <div class="chatInfo" style="margin-left:15%;">
            <div class="caption thumb-head">
              Preview of chat:
            </div>
              <br>
              {{ chat.content[0] }}
            </div>
          <div class="chatInfo" style="margin-left:5%;">
            <div class="caption thumb-head">
              Participants Involved
            </div>
            <p>
            {{vm.user.name}}
            </p>
            <p ng-repeat="participant in chat.participants">
              {{participant}}
            </p>
          </div>
          <br>
          <a class="btn btn-primary cen-jus" style="background-color: rgb(34, 44, 55);" ui-sref="chatDetails({title:chat.chatName, content: chat.content, participants: chat.participants})">View this chat</a>
        </div>
      </div>
    </li>
  </ul>
</div>
</center>
<br>
<h2 class="thumb-head cen-jus">Make a new chat:</h2>
<small data-toggle="tooltip" title="You'll find my code in file chat.dataservice.js located in the services folder. This will be in lines 13 to 55"><i>(This is where  a call to the backend would be initiated. <a href="./MockServerCalls.txt" target=_blank>Click here to see code</a>)</i></small>
<form ng-submit="vm.addChat()">
  <div class="form-group">
    <label for="usr">Chat Title:</label>
    <input type="text" class="form-control" ng-model="vm.newChat.chatName" id="usr">
  </div>
  <div class="form-group">
    <label for="participants">Participants:</label>
    <input type="text" class="form-control" ng-model="vm.newChat.participants">
  </div>
  <div class="form-group">
    <label for="comment">Message:</label>
    <textarea class="form-control" rows="5" ng-model="vm.newChat.content" id="comment"></textarea>
  </div>
   <button type="Submit" class="btn btn-info submit-login-button">Add Chat</button>
  </div>
</form>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
